# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.keystore
*.p8

# Build outputs
dist/
build/

# Databases
*.sqlite
*.sqlite3

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Misc
*.log
